<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=DESKTOP-U3BQF73\\SQLEXPRESS;Initial Catalog=BazaDateTutorial;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>